
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #fff;
}

hr {
  background-color: #eaeaea;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol,
ol ol,
ol ul,
ul ol,
ul ul {
  padding-left: 20px;
  margin-bottom: 1em;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

ol {
  list-style: decimal inside none;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
  margin-bottom: 10px;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 15px 0;
  width: 100%;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
}