/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a,
a:visited {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}