/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--mytheme-body-font);
  font-size: 16px;
  line-height: 30px;
  color: #788593;
  font-weight: 400;
  height: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #ffffff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: var(--mytheme-primary-color);
}

a:active,
a:hover,
a:focus {
  text-decoration: none;
  color: var(--mytheme-primary-color);
  outline: 0 none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

:focus-visible {
  outline: none;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media screen and (max-width: 767px) {
  .comment-text pre {
    white-space: unset;
  }
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button:active,
button:hover,
button:focus {
  outline: 0 none;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.wp-block-table td,
.wp-block-table th {
  border-color: #aaa;
}

.wp-block-button {
  margin-bottom: 20px;
}

.wp-block-button__link {
  font-size: 14px;
  color: #ffffff;
  background-color: var(--mytheme-primary-color);
  padding: 7px 23px;
  font-weight: 500;
}

.wp-block-button.is-style-squared .wp-block-button__link {
  border-radius: 0;
}

.wp-block-button .wp-block-button__link:hover {
  background-color: var(--mytheme-primary-color);
}

.wp-block-button.is-style-outline .wp-block-button__link {
  border-color: var(--mytheme-primary-color);
  color: var(--mytheme-primary-color);
  background-color: transparent;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover {
  border-color: var(--mytheme-primary-color);
  color: var(--mytheme-primary-color);
  background-color: transparent;
}

.wp-block-image {
  margin-bottom: 20px;
}

.blocks-gallery-caption {
  margin-bottom: 16px;
}

.breadcrumb {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
  color: #878c9f;
  font-size: 14px;
  font-weight: 500;
}

.breadcrumb li {
  position: relative;
}

.breadcrumb li .raquo {
  margin: 0 9px;
  color: #878c9f;
}

.breadcrumb li::after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  margin: 0 9px;
}

.breadcrumb li.active {
  color: var(--mytheme-primary-color);
}

.breadcrumb li:last-child:after {
  content: none;
}

.breadcrumb a {
  color: #878c9f;
}

.fa-facebook,
.fa-facebook-f,
.fa-twitter,
.fa-pinterest,
.fa-whatsapp {
  font-family: "Font Awesome 5 Brands";
}

.fa-envelope-o:before {
  content: "\f0e0";
}

@media (max-width: 991px) {
  #sticky_sidebar {
    order: 10;
  }
}