
.blog-comment {
	border-radius: 8px;
}

@media only screen and (max-width: 575px) {
	.blog-comment {
		padding: 30px 20px 50px;
	}
}

.blog-comment .widget-heading {
	margin-bottom: 28px;
}

.blog-comment .widget-heading .heading-title {
	font-size: 22px;
	line-height: 30px;
}

.blog-comment .comment-list > li:last-child .media {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.blog-comment .comment-list .comment-respond {
	margin-top: 20px;
	margin-bottom: 20px;
}

.blog-comment .comment-list .comment-respond .comment-reply-title {
	font-size: 22px;
	line-height: 30px;
}

.blog-comment .comment-list .comment-respond .comment-reply-title small {
	margin-left: 10px;
}

.blog-comment .comment-list .comment-respond .submit-btn {
	width: auto;
}

.blog-comment .media {
	position: relative;
	margin-bottom: 20px;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 22px;
}

.blog-comment .media .imgholder {
	margin-right: 30px;
	margin-top: 10px;
}

.blog-comment .media .imgholder img {
	border-radius: 50%;
}

.blog-comment .media .media-body {
	position: relative;
}

.blog-comment .media .media-body .comment-author {
	font-size: 18px;
	margin-bottom: 0;
	color: #212121;
}

.blog-comment .media .media-body .comment-time {
	font-size: 15px;
	color: #a5a5a5;
}

.blog-comment .media .media-body p {
	width: 90%;
	margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
	.blog-comment .media .media-body p {
		width: 100%;
	}
}

.blog-comment .media .media-body .reply-area {
	position: absolute;
	top: 10px;
	right: 0;
}

.blog-comment .media .media-body .comment-reply-link {
	font-size: 12px;
	font-weight: 500;
	color: #ffffff;
	background-color: #7a859c;
	border-radius: 4px;
	padding: 0 16px;
}

.blog-comment .media .media-body .comment-reply-link:hover {
	color: #ffffff;
	background-color: var(--mytheme-primary-dark);
}

@media only screen and (max-width: 575px) {
	.blog-comment .media .media-body .comment-reply-link {
		margin-top: 15px;
	}
}

@media only screen and (max-width: 575px) {
	.blog-comment .media {
		margin-bottom: 30px;
	}

	.blog-comment .media .imgholder {
		max-width: 60px;
		margin-right: 15px;
	}

	.blog-comment .media .media-body {
		padding-bottom: 45px;
	}

	.blog-comment .media .media-body .reply-area {
		right: initial;
		top: initial;
		bottom: 0;
	}
}

.blog-form {
	padding: 22px 30px 15px;
	border-radius: 8px;
	border-color: rgb(223, 228, 239);
	margin-top: 30px;
}

.single-rtcl_listing .blog-form {
	margin-top: 0;
	border-radius: 4px;
	border-color: #e7e7e7;
	padding: 25px 30px 32px;
}

@media only screen and (max-width: 767px) {
	.blog-form {
		padding: 30px;
	}
}

.blog-form .comment-reply-title {
	font-size: 22px;
	line-height: 30px;
}

.blog-form .form-group {
	margin-bottom: 15px;
}

.blog-form .form-group.submit-button {
	margin-bottom: 0;
}

.blog-form .form-group .form-control {
	border: 1px solid #e1e5ee;
	background-color: #ffffff;
}

.blog-form .form-group .form-control:hover,
.blog-form .form-group .form-control:focus {
	border-color: var(--mytheme-primary-dark);
}

.blog-form .form-group .submit-btn {
	font-size: 15px;
}

.blog-form .form-group .submit-btn:hover {
	background-color: var(--mytheme-primary-dark);
	color: #ffffff;
}

.comment-form-cookies-consent {
	margin-bottom: 15px;
}

.comment-form-cookies-consent label {
	display: initial;
}

@media screen and (max-width: 991px) {
	.comment-form-cookies-consent {
		margin-top: 15px;
	}
}