/*------------------- Preloader -------------------*/
#preloader {
	background-color: #e5eff1;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	left: 0;
	overflow: visible;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999999;
}